<!DOCTYPE html>
<html ng-app="taxiBookingApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Styles/styles.css">

    <title>Taxi Booking Service</title>
</head>

<body ng-controller="taxiBookingController">
    <div class="navbar">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active" ng-click="changeView('viewBookings')" ng-model="btnViewBookings">
                    <a class="nav-link" href="#">View Bookings</a>
                </li>
                <li class="nav-item" ng-click="changeView('addBookings')" ng-model="btnAddBookings">
                    <a class="nav-link" href="#">Add Bookings</a>
                </li>
                <li class="nav-item" ng-click="changeView('viewRoutes')" ng-model="btnViewRoutes">
                    <a class="nav-link" href="#">View Routes</a>
                </li>
                <li class="nav-item" ng-click="changeView('addRoutes')" ng-model="btnAddRoutes">
                    <a class="nav-link" href="#">Add Routes</a>
                </li>
                <li class="nav-item" ng-click="changeView('viewVehicles')" ng-model="btnViewVehicles">
                    <a class="nav-link" href="#">View Vehicles</a>
                </li>
                <li class="nav-item" ng-click="changeView('addVehicles')" ng-model="btnAddVehicles">
                    <a class="nav-link" href="#">Add Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Logout</a>
                </li>

            </ul>
        </nav>
    </div>

    <h1>Booking System</h1>
    <div ng-show="viewLogin">
        <h2>Login</h2>
        <p>Please login below with your credentials to access the system</p>

        <form name= "loginForm">
            Enter Username
            <input name="username" type="text" ng-model="usernameEntry" /> <br />
            Enter Password
            <input name="password" type="password" ng-model="passwordEntry" />
            <button ng-click="login()">Login</button>
        </form>
    </div>


    <!--VIEW BOOKINGS-->
    <div ng-show="viewBookings">
        <form>
            <p>Search for bookings: <input type="text" ng-model="bookingSearch"></p>
            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Number of Current Passengers</th>
                        <th>Drop Off Location</th>
                        <th>Passenger Name</th>
                        <th>Pickup Location</th>
                        <th>VehicleID</th>
                        <th>Edit Booking</th>
                        <th>Delete Booking</th>
                    </tr>

                    <tr ng-repeat="bookings in booking | filter:bookingSearch">
                        <td>{{bookings.Id}}</td>
                        <td>{{bookings.CurrentPassenger}}</td>
                        <td>{{bookings.DropOffLocation}}</td>
                        <td>{{bookings.PassengerName}}</td>
                        <td>{{bookings.PickupLocation}}</td>
                        <td>{{bookings.VehicleId}}</td>
                        <td><a href="" ng-click="editBook(bookings.Id)">Edit Booking</a></td>
                        <td><a href="" ng-click="deleteBook(bookings.Id)">Delete Booking</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!--EDIT A SELECTED BOOKING-->
    <div ng-show="editBookings">
        <h2>Edit Bookings</h2>
        <form name="editBookingsForm" novalidate>
            <p>Edit the booking using the fields below, then click submit:</p>

            <p>Number of Passengers:  <input name="numberOfPassengersFieldEdit" type="text" placeholder="Number of Passengers" ng-model="editCurrentPassenger" required ng-pattern='/^\d{1,10}$/' /> </p>
            <div ng-show="editBookingsForm.numberOfPassengersFieldEdit.$invalid">
                <span ng-show="editBookingsForm.numberOfPassengersFieldEdit.$error.required">Number of Passengers field is REQUIRED</span>
                <span ng-show="editBookingsForm.numberOfPassengersFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter</span>
            </div>

            <p>Passenger Name:  <input name="passengerNameFieldEdit" type="text" placeholder="Passenger Name" ng-model="editPassengerName" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>

            <p>Drop Off Location:  <input name="dropOffFieldEdit" type="text" placeholder="Drop off Location" ng-model="editDropOffLocation" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editBookingsForm.dropOffFieldEdit.$invalid">
                <span ng-show="editBookingsForm.dropOffFieldEdit.$error.required">Drop off location field is REQUIRED</span>
                <span ng-show="editBookingsForm.dropOffFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Pickup Location: <input name="pickUpFieldEdit" type="text" placeholder="Pickup Location" ng-model="editPickupLocation" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editBookingsForm.pickUpFieldEdit.$invalid">
                <span ng-show="editBookingsForm.pickUpFieldEdit.$error.required">Pickup Location field is REQUIRED</span>
                <span ng-show="editBookingsForm.pickUpFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Vehicle ID: <input name="vehicleIdFieldEdit" type="text" placeholder="Vehicle ID" ng-model="editVehicleId" required ng-pattern='/^\d{1,10}$/' /> </p>
            <div ng-show="editBookingsForm.vehicleIdFieldEdit.$invalid">
                <span ng-show="editBookingsForm.vehicleIdFieldEdit.$error.required">Vehicle ID field is REQUIRED</span>
                <span ng-show="editBookingsForm.vehicleIdFieldEdit.$error.pattern">Vehicle ID must be entered in the numerical form 0-9</span>
            </div>

            <button ng-disabled="editBookingsForm.$invalid" ng-click="closeEdit(true)">Submit</button>
            <button ng-click="closeEdit(false)">Cancel</button>
        </form>
    </div>

    <!--ADD BOOKINGS-->
    <div ng-show="addBookings">
        <h2>Add Bookings</h2>
        <form name="addBookingsForm" novalidate>

            <p>Add a new booking to the system below:</p>

            <p>Number of Passengers:  <input name="numberOfPassengersFieldAdd" input type="text" placeholder="Number of Passengers" ng-model="bookingsPassenger" required ng-pattern='/^\d{1,10}$/' /> </p>
            <div ng-show="addBookingsForm.numberOfPassengersFieldAdd.$invalid">
                <span ng-show="addBookingsForm.numberOfPassengersFieldAdd.$error.required">Number of Passengers field is a Required Field</span>
                <span ng-show="addBookingsForm.numberOfPassengersFieldAdd.$error.pattern">Number of Passengers must be entered in the numerical form 0-9</span>
            </div>

            <p>Drop Off Location:  <input name="dropOffFieldAdd" input type="text" placeholder="Drop Off Location" ng-model="bookingsDropOff" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="addBookingsForm.dropOffFieldAdd.$invalid">
                <span ng-show="addBookingsForm.dropOffFieldAdd.$error.required">Drop off location field is Required Field</span>
                <span ng-show="addBookingsForm.dropOffFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Passenger Name: <input name="PassengerNameFieldAdd" input type="text" placeholder="Passenger Name" ng-model="bookingsPasName" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /></p>
            <div ng-show="addBookingsForm.PassengerNameFieldAdd.$invalid">
                <span ng-show="addBookingsForm.PassengerNameFieldAdd.$error.required">Passenger Name field is a Required Field.</span>
                <span ng-show="addBookingsForm.PassengerNameFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Pickup Location: <input name="pickUpFieldAdd" input type="text" placeholder="Pickup Location" ng-model="bookingsPickup " required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /></p>
            <div ng-show="addBookingsForm.pickUpFieldAdd.$invalid">
                <span ng-show="addBookingsForm.pickUpFieldAdd.$error.required">Pickup Location field is Required Field</span>
                <span ng-show="addBookingsForm.pickUpFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Vehicle ID: <input name="vehicleIdFieldAdd" input type="text" placeholder="Vehicle ID" ng-model="bookingsVehicle" required ng-pattern='/^\d{1,10}$/'/></p>
            <div ng-show="addBookingsForm.vehicleIdFieldAdd.$invalid">
                <span ng-show="addBookingsForm.vehicleIdFieldAdd.$error.required">Vehicle ID field is a Required Field</span>
                <span ng-show="addBookingsForm.vehicleIdFieldAdd.$error.pattern">Vehicle ID must be entered in the numerical form 0-9</span>
            </div>

            <button ng-disabled="addBookingsForm.$invalid" ng-click="addBooking()">Add</button>
            <button ng-click="cancelBookingAdd()">Cancel</button>
        </form>
    </div>

    <!--VIEW ROUTES-->
    <div ng-show="viewRoutes">
        <h2>View Current Existing Routes</h2>
        <form>
            <p>Search for routes: <input type="text" ng-model="routesSearch"></p>
            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Route End Point</th>
                        <th>Route Start Point</th>
                        <th>Edit Route</th>
                        <th>Delete Route</th>
                    </tr>
                    <tr ng-repeat="routes in route | filter:routesSearch">
                        <td>{{routes.Id}}</td>
                        <td>{{routes.RouteEndPoint}}</td>
                        <td>{{routes.RouteStartPoint}}</td>
                        <td><a href="" ng-click="editRoute(routes.Id)">Edit Booking</a></td>
                        <td><a href="" ng-click="deleteRoute(routes.Id)">Delete Booking</a></td>
                    </tr>
                </tbody>
            </table>
        </form>


    </div>

    <!--Edit ROUTES-->
    <div ng-show="editRoutes">
        <h2>Edit Routes</h2>
        <form name="editRoutesForm" novalidate>
            <p>Edit the Routes using the fields below, then click submit:</p>

            <p>Route End Point: <input name="routeEndFieldEdit" input type="text" placeholder="Route End Point" ng-model="editRouteEndPoint" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editRoutesForm.routeEndFieldEdit.$invalid">
                <span ng-show="editRoutesForm.routeEndFieldEdit.$error.required">Route End Point field is Required Field</span>
                <span ng-show="editRoutesForm.routeEndFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Route Start Point: <input name="routeStartFieldEdit" input type="text" placeholder="Route Start Point" ng-model="editRouteStartPoint" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editRoutesForm.routeStartFieldEdit.$invalid">
                <span ng-show="editRoutesForm.routeStartFieldEdit.$error.required">Route Start Point field is Required Field</span>
                <span ng-show="editRoutesForm.routeStartFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <button ng-disabled="editRoutesForm.$invalid" ng-click="closeRouteEdit(true)">Submit</button>
            <button ng-click="closeRouteEdit(false)">Cancel</button>
        </form>
    </div>

    <!--Add Routes-->
    <div ng-show="addRoutes">
        <h2>Add Route</h2>
        <form name="addRoutesForm" novalidate>
            <p>Add a new Route to the system below:</p>

            <p>RouteEndPoint:  <input name="routeEndFieldAdd" input type="text" ng-model="routesRouteEndPoint" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="addRoutesForm.routeEndFieldAdd.$invalid">
                <span ng-show="addRoutesForm.routeEndFieldAdd.$error.required">Route End Point field is Required Field</span>
                <span ng-show="addRoutesForm.routeEndFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>
            <p>RouteStartPoint:  <input name="routeStartFieldAdd" input type="text" ng-model="routesRouteStartPoint" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="addRoutesForm.routeStartFieldAdd.$invalid">
                <span ng-show="addRoutesForm.routeStartFieldAdd.$error.required">Route Start Point field is Required Field</span>
                <span ng-show="addRoutesForm.routeStartFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <button ng-disabled="addRoutesForm.$invalid" ng-click="addRoute()">Add</button>
            <button ng-click="cancelRouteAdd()">Cancel</button>
            </form>
    </div>

    <div ng-show="viewVehicles">
        <h2>View Current Existing Vehicles</h2>
        <form>
            <p>Search for Vehicles: <input type="text" ng-model="vehiclesSearch"></p>
            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Capacity</th>
                        <th>Driver</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Registration</th>
                        <th>Edit Route</th>
                        <th>Delete Route</th>
                    </tr>
                    <tr ng-repeat="vehicles in vehicle | filter:vehiclesSearch">
                        <td>{{vehicles.Id}}</td>
                        <td>{{vehicles.Capacity}}</td>
                        <td>{{vehicles.Driver}}</td>
                        <td>{{vehicles.Make}}</td>
                        <td>{{vehicles.Model}}</td>
                        <td>{{vehicles.Registration}}</td>
                        <td><a href="" ng-click="editVehicle(vehicles.Id)">Edit Vehicle</a></td>
                        <td><a href="" ng-click="deleteVehicle(vehicles.Id)">Delete Vehicle</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div ng-show="editVehicles">
        <h2>Edit Vehicles</h2>
        <form name="editVehiclesForm" novalidate>

            <p>Edit the cehicles using the fields below, then click submit:</p>

            <label name="capacityFieldEdit" for="capacity" required> Capcity - Please Choose from the drop down box.</label>
            <select id="capacity" ng-model="editCapacity" required>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="7">7</option>
            </select>
            <div ng-show="editVehiclesForm.capacityFieldEdit.$invalid">
                <span ng-show="editVehiclesForm.capacityFieldEdit.$error.required">Route Start Point field is Required Field</span>
            </div>

            <p>Driver:  <input name="driverFieldEdit" input type="text" ng-model="editDriver" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editVehiclesForm.driverFieldEdit.$invalid">
                <span ng-show="editVehiclesForm.driverFieldEdit.$error.required">Driver field is Required Field</span>
                <span ng-show="editVehiclesForm.driverFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Make: <input name="makeFieldEdit" input type="text" ng-model="editMake" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editVehiclesForm.makeFieldEdit.$invalid">
                <span ng-show="editVehiclesForm.makeFieldEdit.$error.required">Make field is Required Field</span>
                <span ng-show="editVehiclesForm.makeFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Model: <input name="modelFieldEdit" input type="text" ng-model="editModel" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editVehiclesForm.modelFieldEdit.$invalid">
                <span ng-show="editVehiclesForm.modelFieldEdit.$error.required">Model field is Required Field</span>
                <span ng-show="editVehiclesForm.modelFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <p>Registration: <input name="registrationFieldEdit" input type="text" ng-model="editRegistration" required ng-pattern='/^[A-Z][a-z]+( [A-Z][a-z]+)?$/' /> </p>
            <div ng-show="editVehiclesForm.registrationFieldEdit.$invalid">
                <span ng-show="editVehiclesForm.registrationFieldEdit.$error.required">Registration field is Required Field</span>
                <span ng-show="editVehiclesForm.registrationFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field and start the field name with a capital letter.</span>
            </div>

            <button ng-disabled="editVehiclesForm.$invalid" ng-click="closeVehicleEdit(true)">Submit</button>
            <button ng-click="closeVehicleEdit(false)">Cancel</button>
        </form>
    </div>

    <div ng-show="addVehicles">
        <h2>Add Vehicles</h2>
        <p>Add a new Vehicle to the system below:</p>
        <p>Capacity:  <input type="text" ng-model="vehiclesCapacity" /> </p>
        <p>Driver:  <input type="text" ng-model="vehiclesDriver" /> </p>
        <p>Make: <input type="text" ng-model="vehiclesMake" /></p>
        <p>Model: <input type="text" ng-model="vehiclesModel" /></p>
        <p>Registration: <input type="text" ng-model="vehiclesRegistration" /></p>

        <button ng-click="addVehicle()">Add</button>
        <button ng-click="cancelVechicleAdd()">Cancel</button>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <script src="Scripts/taxiApp.js"></script>

    <script src="Scripts/Module.js"></script>
    <script src="Scripts/Controller.js"></script>

</body>
</html>