<!DOCTYPE html>
<!--This whole HTML document uses the AngularJS file taxiBookingApp-->
<html ng-app="taxiBookingApp">
<head>
    <meta charset="utf-8" />
    <!--Using BootStrap to define viewport and dynamic scaling-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Calling External Angular JS Libary-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <!--Calling External BootStrap CSS Libary-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Calling Local CSS Libary-->
    <link rel="stylesheet" type="text/css" href="Styles/styles.css">

    <title>National Car Pool Booking System</title>
</head>

<!--Navbar-->
<body ng-controller="taxiBookingController">
    <!--The Body of the HTML document uses the AngularJS file taxiBookingController-->
    <div class="navbar">
        <nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark">
            <!--BootStrap Navbar ussing dark settings-->
            <a class="navbar-brand">National Car Pool Company</a>
            <img src="Images/WhiteCarLogo.png" width="50" height="50" class="d-inline-block align-top" alt="National Car Pool Logo"> <!--Uses bootstrap to add Company name and logo to navbar-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> <!--Uses bootstrap to make the navbar interactive as it will collapse and show a drop down button when the browser resolution is low-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" ng-show="viewNavBar">
                    <!--Navbar list and links. Links use ng-click to change view when they are clicked using the changeView method. -->
                    <li class="nav-item" ng-click="changeView('viewBookings')" ng-model="btnViewBookings">
                        <a class="nav-link" href="#">View Bookings</a>
                    </li>
                    <li class="nav-item" ng-click="changeView('addBookings')" ng-model="btnAddBookings">
                        <a class="nav-link" href="#">Add Bookings</a>
                    </li>
                    <li class="nav-item" ng-click="changeView('viewRoutes')" ng-model="btnViewRoutes">
                        <a class="nav-link" href="#">View Routes</a>
                    </li>
                    <li class="nav-item" ng-click="changeView('addRoutes')" ng-model="btnAddRoutes">
                        <a class="nav-link" href="#">Add Routes</a>
                    </li>
                    <li class="nav-item" ng-click="changeView('viewVehicles')" ng-model="btnViewVehicles">
                        <a class="nav-link" href="#">View Vehicles</a>
                    </li>
                    <li class="nav-item" ng-click="changeView('addVehicles')" ng-model="btnAddVehicles">
                        <a class="nav-link" href="#">Add Vehicles</a>
                    </li>
                    <li class="nav-item" ng-click="login(false)" ng-model="btnLogout">
                        <a class="nav-link" style="color:cornflowerblue" href="#">Logout</a>
                    </li>
                    <li>
                        <p class="nav-item" style="color:white; font-size: 12px">You are logged in as {{name}}</p>
                    </li>

                    <!--class disabled" for logout. this changes when logged in-->
                </ul>
            </div>
        </nav>
    </div>
    <!--End of Navbar-->
    <!--Log In Form-->
    <div class="container">
        <h1 style="text-align:center;">National Car Pool Company Online Booking System. Ver 3.6.6</h1>
        <div ng-if="errorMessage"> <h2 class="errorMessage">{{errorMessage}} </h2></div> <!--Displays an error message on the page if one occurs.-->
        <div ng-show="viewLogin">
            <h5>This webpage is for authorised users of the Nation Car Pool Company only!</h5>
            <h2>Login</h2>
            <h5 style="margin: 5px">Please login below with your credentials to access the system</h5>

            <form name="loginForm">

                <label>Enter Username</label>
                <input name="username" type="text" ng-model="usernameEntry" class="form-control" placeholder="Username" required /> <br />
                <div class="form-row">
                    <div ng-show="loginForm.usernameEntry.$invalid">
                        <small class="help-block" ng-show="loginForm.usernameEntry.$error.required">Username field is Required Field</small>
                    </div>
                </div>
                <label>Enter Password</label>
                <input name="password" type="password" ng-model="passwordEntry" class="form-control" placeholder="Password" required />
                <div class="form-row">
                    <div ng-show="loginForm.passwordEntry.$invalid">
                        <small class="help-block" ng-show="loginForm.passwordEntry.$error.required">Password field is Required Field</small>
                    </div>
                </div>
                <button class="buttonS" ng-click="login(true)" type="submit" ng-disabled="loginForm.$invalid">Login</button>
            </form>

        </div>
    </div>
    <!--End of Log In Form-->
    <!--VIEW Booking-->
    <div class="container">
        <div ng-show="viewBookings">
            <h2>View Bookings</h2>
            <form>
                <label>Search for bookings: </label>
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" ng-model="bookingSearch"> <!--Input box which lets user filter bookings using ng-model "bookingSearch"-->
                    </div>
                </div>
                <table class="table table-bordered table-dark">
                    <!--Bootstrap table using dark theme-->
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Number of Current Passengers</th>
                            <th scope="col">Drop Off Location</th>
                            <th scope="col">Passenger Name</th>
                            <th scope="col">Pickup Location</th>
                            <th scope="col">VehicleID</th>
                            <th style="color:darkorange;" scope="col">Edit Booking</th>
                            <th ng-show="DeleteYes" style="color:darkred;" scope="col">Delete Booking</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Uses the get request booking from the controller to repeat the bookings into a table-->
                        <tr ng-repeat="bookings in booking | filter:bookingSearch">
                            <td>{{bookings.Id}}</td>
                            <td>{{bookings.CurrentPassenger}}</td>
                            <td>{{bookings.DropOffLocation}}</td>
                            <td>{{bookings.PassengerName}}</td>
                            <td>{{bookings.PickupLocation}}</td>
                            <td>{{bookings.VehicleId}}</td>
                            <td><a href="" style="color:darkorange;" ng-click="editBook(bookings.Id)">Edit Booking</a></td> <!--Button that edits selected booking based on ID--> 
                            <td ng-show="DeleteYes"><a href="" style="color:darkred;" ng-click="deleteBook(bookings.Id)">Delete Booking</a></td> <!--Button that deletes selected booking based on ID-->
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!--End of VIEW Booking-->
    <!--EDIT Booking-->
    <div class="container">
        <div ng-show="editBookings">
            <!--When clicked in the Navbar this view will show-->
            <h2>Edit Bookings</h2>
            <h4>Edit the booking using the fields below, then click submit:</h4>

            <!--Bootstrap form for user input. Scales with different resolutions-->
            <form name="editBookingsForm" novalidate>
                <div class="form-row">
                    <!--Uses Bootstrap to create a form row. The following line controls the scaling grid. -->
                    <div class="form-group col-md-6">

                        <label>Number of Passengers: </label>
                        <input name="numberOfPassengersFieldEdit" type="text" placeholder="Number of Passengers" class="form-control" ng-model="editCurrentPassenger" required ng-pattern='/^\d{1,10}$/' />
                        <div ng-show="editBookingsForm.numberOfPassengersFieldEdit.$invalid">
                            <small class="help-block" ng-show="editBookingsForm.numberOfPassengersFieldEdit.$error.required">Number of Passengers field is REQUIRED</small>
                            <small class="help-block" ng-show="editBookingsForm.numberOfPassengersFieldEdit.$error.pattern">Please only enter Numerical characters in this field.</small>
                        </div> <!--ng-pattern pattern uses regex to only accept numerical characters for the input box. If there are other characters there will be a message shown using ng-show. If there is nothing in the field ng-show will be used to show that the field is required-->
                    </div>

                    <div class="form-group col-md-6">
                        <label>Passenger Name: </label>
                        <input name="passengerNameFieldEdit" type="text" placeholder="Passenger Name" class="form-control" ng-model="editPassengerName" required ng-pattern='/^[a-zA-Z .’-]+$/' /> <!--ng-pattern regex for alphabetical characters and some special characters-->
                        <div ng-show="editBookingsForm.passengerNameFieldEdit.$invalid">
                            <small class="help-block" ng-show="editBookingsForm.passengerNameFieldEdit.$error.required">Passenger Name field is REQUIRED</small>
                            <small class="help-block" ng-show="editBookingsForm.passengerNameFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Drop Off Location: </label>
                        <input name="dropOffFieldEdit" type="text" placeholder="Drop off Location" class="form-control" ng-model="editDropOffLocation" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' />
                        <div ng-show="editBookingsForm.dropOffFieldEdit.$invalid">
                            <small class="help-block" ng-show="editBookingsForm.dropOffFieldEdit.$error.required">Drop off location field is REQUIRED</small>
                            <small class="help-block" ng-show="editBookingsForm.dropOffFieldEdit.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Pickup Location: </label>
                        <input name="pickUpFieldEdit" type="text" placeholder="Pickup Location" class="form-control" ng-model="editPickupLocation" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' />
                        <div ng-show="editBookingsForm.pickUpFieldEdit.$invalid">
                            <small class="help-block" ng-show="editBookingsForm.pickUpFieldEdit.$error.required">Pickup Location field is REQUIRED</small>
                            <small class="help-block" ng-show="editBookingsForm.pickUpFieldEdit.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Vehicle ID: </label>
                    <input name="vehicleIdFieldEdit" type="text" placeholder="Vehicle ID" class="form-control" ng-model="editVehicleId" required ng-pattern='/^\d{1,10}$/' />
                    <div ng-show="editBookingsForm.vehicleIdFieldEdit.$invalid">
                        <small class="help-block" ng-show="editBookingsForm.vehicleIdFieldEdit.$error.required">Vehicle ID field is REQUIRED</small>
                        <small class="help-block" ng-show="editBookingsForm.vehicleIdFieldEdit.$error.pattern">Vehicle ID must be entered in the numerical form 0-9</small>
                    </div>
                </div>

                <button class="buttonS" type="submit" ng-disabled="editBookingsForm.$invalid" ng-click="closeEdit(true)">Submit</button> <!--ng-disables is used to disable the button if it is invalid-->
                <!--Once the button is pressed it will use a put request to update the REST service using the "closeEdit" function in the controller-->
                <button class="buttonclose" ng-click="closeEdit(false)">Cancel</button> <!--Cancels the edit using if the user clicks the close button as part of the else statement in "closeEdit"-->
            </form>
        </div>
    </div>
    <!--The code above is very similiar to other code in the HTML and following code will not be commented on for View, Edit and Add functions unless parts are significantly different-->
    <!--End of EDIT Booking-->
    <!--ADD Bookings-->
    <div class="container">
        <div ng-show="addBookings">
            <h2>Add Bookings</h2>
            <h4>Add a new booking using the fields below:</h4>

            <form name="addBookingsForm" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">

                        <label>Number of Passengers: </label>
                        <input name="numberOfPassengersFieldAdd" input type="text" placeholder="Number of Passengers" class="form-control" ng-model="bookingsPassenger" required ng-pattern='/^\d{1,10}$/' />
                        <div ng-show="addBookingsForm.numberOfPassengersFieldAdd.$invalid">
                            <small class="help-block" ng-show="addBookingsForm.numberOfPassengersFieldAdd.$error.required">Number of Passengers field is a Required Field</small>
                            <small class="help-block" ng-show="addBookingsForm.numberOfPassengersFieldAdd.$error.pattern">Number of Passengers must be entered in the numerical form 0-9</small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Passenger Name: </label>
                        <input name="PassengerNameFieldAdd" input type="text" placeholder="Passenger Name" class="form-control" ng-model="bookingsPasName" required ng-pattern='/^[a-zA-Z .’-]+$/' />
                        <div ng-show="addBookingsForm.PassengerNameFieldAdd.$invalid">
                            <small class="help-block" ng-show="addBookingsForm.PassengerNameFieldAdd.$error.required">Passenger Name field is a Required Field.</small>
                            <small class="help-block" ng-show="addBookingsForm.PassengerNameFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Drop Off Location: </label>
                        <input name="dropOffFieldAdd" input type="text" placeholder="Drop Off Location" class="form-control" ng-model="bookingsDropOff" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' />
                        <div ng-show="addBookingsForm.dropOffFieldAdd.$invalid">
                            <small class="help-block" ng-show="addBookingsForm.dropOffFieldAdd.$error.required">Drop off location field is Required Field</small>
                            <small class="help-block" ng-show="addBookingsForm.dropOffFieldAdd.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Pickup Location: </label>
                        <input name="pickUpFieldAdd" input type="text" placeholder="Pickup Location" class="form-control" ng-model="bookingsPickup " required ng-pattern='/^[a-zA-Z0-9 _-]*$/' />
                        <div ng-show="addBookingsForm.pickUpFieldAdd.$invalid">
                            <small class="help-block" ng-show="addBookingsForm.pickUpFieldAdd.$error.required">Pickup Location field is Required Field</small>
                            <small class="help-block" ng-show="addBookingsForm.pickUpFieldAdd.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Vehicle ID: </label>
                    <input name="vehicleIdFieldAdd" input type="text" placeholder="Vehicle ID" class="form-control" ng-model="bookingsVehicle" required ng-pattern='/^\d{1,10}$/' />
                    <div ng-show="addBookingsForm.vehicleIdFieldAdd.$invalid">
                        <small class="help-block" ng-show="addBookingsForm.vehicleIdFieldAdd.$error.required">Vehicle ID field is a Required Field</small>
                        <small class="help-block" ng-show="addBookingsForm.vehicleIdFieldAdd.$error.pattern">Vehicle ID must be entered in the numerical form 0-9</small>
                    </div>
                </div>

                <button class="buttonS" type="submit" ng-disabled="addBookingsForm.$invalid" ng-click="addBooking()">Add</button>
                <button class="buttonclose" ng-click="changeView('viewBookings')">Cancel</button>
            </form>
        </div>
    </div>
    <!--End of ADD Booking-->
    <!--VIEW Routes-->
    <div class="container">
        <div ng-show="viewRoutes">
            <h2>View Current Existing Routes</h2>
            <form>
                <label>Search for routes: </label>
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" ng-model="routesSearch">
                    </div>
                </div>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Route End Point</th>
                            <th scope="col">Route Start Point</th>
                            <th ng-show="EditYes" style="color:darkorange;" scope="col">Edit Route</th>
                            <th ng-show="DeleteYes" style="color:darkred;" scope="col">Delete Route</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="routes in route | filter:routesSearch">
                            <td>{{routes.Id}}</td>
                            <td>{{routes.RouteEndPoint}}</td>
                            <td>{{routes.RouteStartPoint}}</td>
                            <td ng-show="EditYes"><a href=""  style="color:darkorange;" ng-click="editRoute(routes.Id)">Edit Route</a></td>
                            <td ng-show="DeleteYes"><a href="" style="color:darkred;" ng-click="deleteRoute(routes.Id)">Delete Route</a></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!--End of VIEW Routes-->
    <!--EDIT Routes-->
    <div class="container">
        <div ng-show="editRoutes">
            <h2>Edit Routes</h2>
            <h4>Edit the Routes using the fields below, then click submit:</h4>

            <form name="editRoutesForm" novalidate>
                <div class="form-group">

                    <label>Route End Point: </label>
                    <input name="routeEndFieldEdit" input type="text" placeholder="Route End Point" class="form-control" ng-model="editRouteEndPoint" required ng-pattern='/^[a-zA-Z .’-]+$/' />
                    <div ng-show="editRoutesForm.routeEndFieldEdit.$invalid">
                        <small class="help-block" ng-show="editRoutesForm.routeEndFieldEdit.$error.required">Route End Point field is Required Field</small>
                        <small class="help-block" ng-show="editRoutesForm.routeEndFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                    </div>
                </div>

                <div class="form-group">
                    <p>Route Start Point: <input name="routeStartFieldEdit" input type="text" placeholder="Route Start Point" class="form-control" ng-model="editRouteStartPoint" required ng-pattern='/^[a-zA-Z .’-]+$/' /> </p>
                    <div ng-show="editRoutesForm.routeStartFieldEdit.$invalid">
                        <small class="help-block" ng-show="editRoutesForm.routeStartFieldEdit.$error.required">Route Start Point field is Required Field</small>
                        <small class="help-block" ng-show="editRoutesForm.routeStartFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                    </div>
                </div>

                <button class="buttonS" ng-disabled="editRoutesForm.$invalid" ng-click="closeRouteEdit(true)">Submit</button>
                <button class="buttonclose" ng-click="closeRouteEdit(false)">Cancel</button>
            </form>
        </div>
    </div>
    <!--End of EDIT Routes-->
    <!--ADD Routes-->
    <div class="container">
        <div ng-show="addRoutes">
            <h2>Add Route</h2>
            <h4>Add a new Route using the fields below:</h4>

            <form name="addRoutesForm" novalidate>
                <div class="form-group">

                    <label>RouteEndPoint:</label>
                    <input name="routeEndFieldAdd" input type="text" ng-model="routesRouteEndPoint" class="form-control" required ng-pattern='/^[a-zA-Z .’-]+$/' />
                    <div ng-show="addRoutesForm.routeEndFieldAdd.$invalid">
                        <small class="help-block" ng-show="addRoutesForm.routeEndFieldAdd.$error.required">Route End Point field is Required Field</small>
                        <small class="help-block" ng-show="addRoutesForm.routeEndFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                    </div>
                </div>

                <div class="form-group">
                    <label>RouteStartPoint: </label>
                    <input name="routeStartFieldAdd" input type="text" ng-model="routesRouteStartPoint" class="form-control" required ng-pattern='/^[a-zA-Z .’-]+$/' />
                    <div ng-show="addRoutesForm.routeStartFieldAdd.$invalid">
                        <small class="help-block" ng-show="addRoutesForm.routeStartFieldAdd.$error.required">Route Start Point field is Required Field</small>
                        <small class="help-block" ng-show="addRoutesForm.routeStartFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                    </div>
                </div>

                <button class="buttonS" ng-disabled="addRoutesForm.$invalid" ng-click="addRoute()">Add</button>
                <button class="buttonclose" ng-click="changeView('viewRoutes')">Cancel</button>
            </form>
        </div>
    </div>
    <!--End of ADD Routes-->
    <!--VIEW Vehicles-->
    <div class="container">
        <div ng-show="viewVehicles">
            <h2>View Current Existing Vehicles</h2>
            <form>
                <label>Search for Vehicles: </label>
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" ng-model="vehiclesSearch">
                    </div>
                </div>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Capacity</th>
                            <th scope="col">Driver</th>
                            <th scope="col">Make</th>
                            <th scope="col">Model</th>
                            <th scope="col">Registration</th>
                            <th ng-show="EditYes" style="color:darkorange;">Edit Route</th>
                            <th ng-show="DeleteYes" style="color:darkred;">Delete Route</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vehicles in vehicle | filter:vehiclesSearch">
                            <td>{{vehicles.Id}}</td>
                            <td>{{vehicles.Capacity}}</td>
                            <td>{{vehicles.Driver}}</td>
                            <td>{{vehicles.Make}}</td>
                            <td>{{vehicles.Model}}</td>
                            <td>{{vehicles.Registration}}</td>
                            <td ng-show="EditYes"><a href="" style="color:darkorange;" ng-click="editVehicle(vehicles.Id)">Edit Vehicle</a></td>
                            <td ng-show="DeleteYes"><a href="" style="color:darkred;" ng-click="deleteVehicle(vehicles.Id)">Delete Vehicle</a></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!--End of VIEW Vehicles-->
    <!--EDIT Vehicles-->
    <div class="container">
        <div ng-show="editVehicles">
            <h2>Edit Vehicles</h2>
            <h4>Edit the vehicles using the fields below, then click submit:</h4>

            <form name="editVehiclesForm" novalidate>
                <div class="form-group">

                    <label name="capacityFieldEdit" for="editCapacity" required> Capacity - Please Choose from the drop down box.</label>
                    <select class="custom-select mr-sm-2" id="editCapacity" ng-model="editCapacity" required>
                        <option hidden disabled selected value> -- select an option -- </option>
                        <option value="3">Car Capacity 3</option>
                        <option value="5">Car Capacity 5</option>
                        <option value="7">Car Capacity 7</option>
                    </select>
                </div>
                <div ng-show="editVehiclesForm.capacityFieldEdit.$invalid">
                    <small class="help-block" ng-show="editVehiclesForm.capacityFieldEdit.$error.required">Vehicle Capacity is Required Field</small>
                </div>

                <div class="form-group">
                    <label>Driver: </label>
                    <input name="driverFieldEdit" input type="text" placeholder="Driver" class="form-control" ng-model="editDriver" required ng-pattern='/^[a-zA-Z .’-]+$/' />
                    <div ng-show="editVehiclesForm.driverFieldEdit.$invalid">
                        <small class="help-block" ng-show="editVehiclesForm.driverFieldEdit.$error.required">Driver field is Required Field</small>
                        <small class="help-block" ng-show="editVehiclesForm.driverFieldEdit.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Make: </label>
                        <input name="makeFieldEdit" input type="text" placeholder="Make" class="form-control" ng-model="editMake" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' />
                        <div ng-show="editVehiclesForm.makeFieldEdit.$invalid">
                            <small class="help-block" ng-show="editVehiclesForm.makeFieldEdit.$error.required">Make field is Required Field</small>
                            <small class="help-block" ng-show="editVehiclesForm.makeFieldEdit.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Model: </label>
                        <input name="modelFieldEdit" input type="text" placeholder="Model" class="form-control" ng-model="editModel" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' />
                        <div ng-show="editVehiclesForm.modelFieldEdit.$invalid">
                            <small class="help-block" ng-show="editVehiclesForm.modelFieldEdit.$error.required">Model field is Required Field</small>
                            <small class="help-block" ng-show="editVehiclesForm.modelFieldEdit.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Registration: </label>
                        <input name="registrationFieldEdit" input type="text" placeholder="Registration" class="form-control" ng-model="editRegistration" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' />
                        <div ng-show="editVehiclesForm.registrationFieldEdit.$invalid">
                            <small class="help-block" ng-show="editVehiclesForm.registrationFieldEdit.$error.required">Registration field is Required Field</small>
                            <small class="help-block" ng-show="editVehiclesForm.registrationFieldEdit.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>
                </div>

                <button class="buttonS" ng-disabled="editVehiclesForm.$invalid" ng-click="closeVehicleEdit(true)">Submit</button>
                <button class="buttonclose" ng-click="closeVehicleEdit(false)">Cancel</button>
            </form>
        </div>
    </div>
    <!--End of EDIT Vehicles-->
    <!--ADD Vehicles-->
    <div class="container">
        <div ng-show="addVehicles">
            <h2>Add Vehicles</h2>
            <h4>Add the vehicles using the fields below, then click submit:</h4>

            <form name="addVehiclesForm" novalidate>
                <div class="form-group">

                    <label name="capacityFieldAdd" for="addCapacity" required> Capacity - Please Choose from the drop down box:</label>
                    <select class="custom-select mr-sm-2" id="addCapacity" ng-model="vehiclesCapacity" required>
                        <option hidden disabled selected value> -- select an option -- </option>
                        <option value="3">Car Capacity 3</option>
                        <option value="5">Car Capacity 5</option>
                        <option value="7">Car Capacity 7</option>
                    </select>
                </div>
                <div ng-show="addVehiclesForm.capacityFieldAdd.$invalid">
                    <small class="help-block" ng-show="addVehiclesForm.capacityFieldAdd.$error.required">Route Start Point field is Required Field</small>
                </div>

                <div class="form-group">
                    <label>Driver: </label>
                    <input name="driverFieldAdd" input type="text" placeholder="Driver" class="form-control" ng-model="vehiclesDriver" required ng-pattern='/^[a-zA-Z .’-]+$/' />
                    <div ng-show="addVehiclesForm.driverFieldAdd.$invalid">
                        <small class="help-block" ng-show="addVehiclesForm.driverFieldAdd.$error.required">Driver field is Required Field</small>
                        <small class="help-block" ng-show="addVehiclesForm.driverFieldAdd.$error.pattern">Please only enter Alphabetical characters in this field.</small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <p>Make: <input name="makeFieldAdd" input type="text" placeholder="Make" class="form-control" ng-model="vehiclesMake" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' /> </p>
                        <div ng-show="addVehiclesForm.makeFieldAdd.$invalid">
                            <small class="help-block" ng-show="addVehiclesForm.makeFieldAdd.$error.required">Make field is Required Field</small>
                            <small class="help-block" ng-show="addVehiclesForm.makeFieldAdd.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <p>Model: <input name="modelFieldAdd" input type="text" placeholder="Model" class="form-control" ng-model="vehiclesModel" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' /> </p>
                        <div ng-show="addVehiclesForm.modelFieldAdd.$invalid">
                            <small class="help-block" ng-show="addVehiclesForm.modelFieldAdd.$error.required">Model field is Required Field</small>
                            <small class="help-block" ng-show="addVehiclesForm.modelFieldAdd.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <p>Registration: <input name="registrationFieldAdd" input type="text" placeholder="Registration" class="form-control" ng-model="vehiclesRegistration" required ng-pattern='/^[a-zA-Z0-9 _-]*$/' /> </p>
                        <div ng-show="addVehiclesForm.registrationFieldAdd.$invalid">
                            <small class="help-block" ng-show="addVehiclesForm.registrationFieldAdd.$error.required">Registration field is Required Field</small>
                            <small class="help-block" ng-show="addVehiclesForm.registrationFieldAdd.$error.pattern">Please only enter Alphabetical and Numerical characters in this field.</small>
                        </div>
                    </div>
                </div>

                <button class="buttonS" ng-disabled="addVehiclesForm.$invalid" ng-click="addVehicle()">Add</button>
                <button class="buttonclose" ng-click="changeView('viewVehicles')">Cancel</button>
            </form>
        </div>
    </div>
    <!--END of ADD Vehicles-->
    <!--Footer In Document Styling-->
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: dimgrey;
            color: white;
            text-align: center;
        }
    </style>
    <!--HTML Footer-->
    <div class="footer">
        <footer>
            <p>&copy; Website made by Maxwell Allen and Titus Green for Sheffield Hallam University - Module WADI</p>
        </footer>
    </div>


    <!--Calling External scripts necessary for BootStrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!--Calling the Interal JavaScript Files Module, Controller and App file-->
    <script src="Scripts/taxiApp.js"></script>
    <script src="Scripts/Module.js"></script>
    <script src="Scripts/Controller.js"></script>

</body>
</html>